body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('images/istockphoto-1251277428-2048x2048.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #f1f1f1;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    z-index: 1000;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #DAA520;
    font-weight: bold;
    font-size: 16px;
}

nav a:hover {
    color: #ffffff;
}

.container {
    padding: 20px;
    max-width: 1200px;
    margin: 80px auto 0;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 2.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    text-align: center;
}

.album {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.album img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.album-info {
    color: #f1f1f1;
}

.album-info h2 {
    font-size: 1.8em;
    margin: 0;
    color: #DAA520;
}

.album-info p {
    margin: 5px 0;
    font-size: 1.2em;
}
